@import "normalize.css";

/* taken from http://matt.might.net/css/main.css */

/* Google fonts:
   http://fonts.googleapis.com/css?family=Marcellus+SC */
@font-face {
  font-family: 'Marcellus SC';
  font-style: normal;
  font-weight: 400;
  src: local('Marcellus SC'), local('MarcellusSC-Regular'),
  url(http://themes.googleusercontent.com/static/fonts/marcellussc/v1/_jugwxhkkynrvsfrxVx8gXhCUOGz7vYGh680lGh-uXM.woff)
  format('woff');
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    background-color: #f0f0f0;
    /* background-image: url("img/noise.png"); */
    text-shadow: 0 1px 0 #fff;
    font-weight: 300;
    word-wrap: break-word;

    /* background-color: #dddddd; */
    /* background-color: #ffe; */
    /* padding: 20px; */
    /* font-family: Georgia; */
    /* color: #333333; */

    max-width: 767px;
    margin: auto;
}

div.module {
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -o-box-shadow: 0 5px 5px #333333;
    -webkit-box-shadow: 0 5px 5px #333333;
    -moz-box-shadow: 0 5px 5px #333333;
    box-shadow: 0 5px 5px #333333;
}

h1, h2, h3, h4 {
    font-family: 'Marcellus SC', serif;
}

li {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

/* a { */
/*     text-decoration: none; */
/* } */

/* a:hover { */
/*     text-decoration: underline; */
/* } */

a {
  color: #555;
}

a:hover {
  text-decoration: none;
}

/* :link { */
/*     color: #68693F; */
/*     text-decoration: none; */
/*     border-bottom: 1px dotted #ccc; */
/* } */
/* :visited { */
/*     color: #68693F; */
/*     text-decoration: none; */
/* } */
/* a:link, a:visited { */
/*     background-color: #ffc; */
/* } */
